#main-container {
  width: 2000px;
  margin: 0px auto;
  padding: 0px;
}

.header {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 30px;
  font-size: 25px;
  margin: 10px 10px 10px 10px;
}

.carta {
  position: relative;
  width: 150px;
  border: 1px solid black;
  border-radius: 15px;
  margin-right: -75px;
}

#table-game {
  width: 100%;
  background-color: green;
  border: 2px solid black;
  margin: 10px 10px 10px 10px;
  height: 1300px;
}

#btn {
  padding: 10px;
}

#computadora,
#player_1 {
  height: 250px;
  padding: 10px;
}

.player {
  height: 280px;
  padding: 30px;
  width: 1000px;
}

h3 {
  margin-left: 20px;
}
